<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/capture" method="post">
  url을 입력하세요 : <input type="text" name="url" value=""><br>
  <br>
  <button type="submit">Submit</button>
</form>
</body>
</html>